@use "../../../styles/helpers/" as *;

.settings__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7e7e8195;
  border: var(--border);
  border-radius: var(--categorie-border-radius);
  padding: rem(32) rem(24);
  font-size: rem(28);
  box-shadow: var(--box-shadow);
  min-width: 100%;

  @include mobile {
    padding: rem(10);
    font-size: rem(18);
  }
}

.settings__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(18);
  width: 100%;

  p {
    color: var(--color-text-overlay);
    text-align: center;
    margin: 0;

    span {
      color: var(--color-green);
    }

    a {
      color: var(--color-green);
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        color: var(--color-dark);
        background: var(--color-green);
        border-radius: rem(6);
        transition: all 0.18s;
      }
    }
  }
}

.settings__socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: rem(600);
  gap: rem(18);
  margin-top: rem(10);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: rem(8);
  }

  a {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: rem(7);
    background: var(--color-dark);
    color: var(--color-light);
    border: var(--border);
    border-radius: var(--categorie-border-radius);
    padding: rem(10) rem(16);
    font-size: rem(32);
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: background var(--transition-duration), color var(--transition-duration),
      box-shadow var(--transition-duration);

    @include mobile {
      padding: rem(5) rem(10);
      font-size: rem(16);
    }

    &:hover {
      background: var(--color-accent);
      color: var(--color-dark);
      font-weight: 700;
    }
  }
}
