@use "../helpers" as *;

:root[data-theme="cyberpunk"] {
  // Настройки шрифта
  --font-family-them: "Monocraft", sans-serif;

  // Цвета
  --color-text: #fdfdfe;
  --color-text-overlay: #070707;
  --color-border: linear-gradient(135deg, #00ffff, #ff00ff);

  // Бордеры
  --categorie-border-radius: 5px;
  --categorie-border-style: solid;
  --category-border-height: #{rem(5)};
  --category-border-color: rgb(252, 251, 251);
  --border: var(--category-border-height) var(--categorie-border-style) var(--category-border-color);

  // Флаг глитча
  --categorie-glitch-enabled: 1;
}

// Глитч эффект — общие стили
:root[data-theme="cyberpunk"] .glitch-top,
:root[data-theme="cyberpunk"] .glitch-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  pointer-events: none;
  mix-blend-mode: screen;
}

// Глитч — верхняя половина
:root[data-theme="cyberpunk"] .glitch-top {
  clip-path: inset(0 0 50% 0);
  color: #00ffff;
  animation: glitchTopFullCycle 8s infinite steps(1, end);
}

// Глитч — нижняя половина
:root[data-theme="cyberpunk"] .glitch-bottom {
  clip-path: inset(50% 0 0 0);
  color: #ff00ff;
  animation: glitchBottomFullCycle 5s infinite steps(1, end);
}

// Ключевые кадры для глитча (верх)
@keyframes glitchTopFullCycle {
  0%,
  20%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3px, -1px);
  }
  30% {
    transform: translate(3px, -1px);
  }
  50% {
    transform: translate(-5px, -1px);
  }
  70% {
    transform: translate(5px, -1px);
  }
}

// Ключевые кадры для глитча (низ)
@keyframes glitchBottomFullCycle {
  0%,
  20%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(3px, 1px);
  }
  30% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
}

// Логотипы категории с глитчем
:root[data-theme="cyberpunk"] .categorie__logo::before,
:root[data-theme="cyberpunk"] .categorie__logo::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.8;
  background-image: var(--logo-url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: screen;
}

:root[data-theme="cyberpunk"] .categorie__logo::before {
  clip-path: inset(0 0 50% 0);
  animation: glitchTopFullCycle 4s infinite steps(1, end);
}

:root[data-theme="cyberpunk"] .categorie__logo::after {
  clip-path: inset(50% 0 0 0);
  animation: glitchBottomFullCycle 4s infinite steps(1, end);
}
