@use "../helpers" as *;

:root[data-theme="iosDark"] {
  // Цвета
  --color-text: #000000;
  --color-text-overlay: rgb(255, 255, 255);
  --color-border: none;

  // Радиусы и бордеры
  --categorie-border-radius: #{rem(32)};
  --categorie-border-style: solid;
  --category-border-height: #{rem(5)};
  --category-border-color: transparent;
  --border-radius-theme: #{rem(16)};
  --border: var(--category-border-height) var(--categorie-border-style) var(--category-border-color);

  // Шрифт
  --font-family-them: "SF-Pro-Display-Light", sans-serif;
}
