@use "../../../../../styles/helpers/" as *;

.chart {
  width: 100%;
  min-height: rem(800);
  position: relative;
  background-color: var(--color-statistics-background);
  border-radius: var(--categorie-border-radius);

  @include laptop {
    min-height: rem(600);
  }
  @include mobile {
    min-height: rem(400);
  }
}
