@use "../../../../../styles/helpers/" as *;

.chart {
  width: 100%;
  min-height: rem(800);
  position: relative;
  background-color: var(--color-statistics-background);
  border: var(--border);
  border-radius: var(--categorie-border-radius);
  box-shadow: var(--box-shadow);

  @include laptop {
    min-height: rem(600);
  }
  @include mobile {
    min-height: rem(400);
  }
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left: rem(60);
  width: rem(150);
  font-family: var(--font-family-them);
}
