@use "../../../styles/helpers/" as *;

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(30);
  color: var(--color-text-overlay);
  font-family: var(--font-family-them);
  font-size: rem(44);
  background-color: var(--color-statistics-background);
  border: var(--border);
  border-radius: var(--categorie-border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: rem(20);

  @include mobile {
    font-size: rem(28);
    padding: rem(20);
  }

  &__label {
    color: var(--color-red);
  }

  &__value {
    color: var(--color-accent);
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000,
      -1px 0px 0 #000, 0px -1px 0 #000;
  }
}
