@use "../../../styles/helpers/" as *;

.crypto-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(18);
  padding: rem(28) rem(0);
  min-width: rem(300);
  max-width: 100%;
  font-family: var(--font-family-them);
  color: var(--color-text);
  border-radius: var(--categorie-border-radius);

  &__add-btn {
    min-width: 100%;
    padding: rem(20);
    border-radius: var(--categorie-border-radius);
    background: #fbfbfb94;
    border: var(--border);
    border-radius: var(--categorie-border-radius);
    font-size: 28px;
    cursor: pointer;
    transition: background 0.18s;
    text-transform: uppercase;
    z-index: 1;

    &:hover {
      background: var(--color-red);
      color: var(--color-light);
    }
  }

  &__dropdown {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12);
  }

  &__search {
    text-align: center;
    min-width: 100%;
    padding: rem(10);
    border-radius: var(--categorie-border-radius);
    border: var(--border);
    background: #23242c;
    color: #fff;
    font-size: 26px;
    outline: none;
    transition: border 0.15s;

    &:focus {
      border-color: #00e676;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 16px 0 0 0;
    padding: 0;
    list-style: none;
    max-height: 370px;
    overflow-y: auto;
    width: 100%;
    background: #22232b;
    border-radius: var(--categorie-border-radius);
    box-shadow: 0 2px 18px #191a2055;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-bottom: 1px solid #313142;
    transition: background 0.18s;

    @include mobile {
      justify-content: center;
    }

    &:hover {
      background: #232633;
      color: #00e676;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    object-fit: contain;
    box-shadow: 0 1px 3px #1113;
  }
}
