.treemapChartContainer {
  position: relative;
  width: 100%; // <--- Только width, никаких min/max!
  height: rem(650);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // <--- Обрезает всё, что выходит
  background-color: var(--color-statistics-background);
  border: var(--border);
  border-radius: var(--categorie-border-radius);

  @include mobile {
    height: rem(320);
  }
}

.treemapChartWrapper {
  position: relative;
  width: 100%; // <-- только width!
  height: 100%;
  overflow: hidden;
  border-radius: var(--categorie-border-radius); // дублируем радиус для красоты
}

.treemapChart {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128%; // "увеличение"
  height: 128%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: var(--categorie-border-radius); // НЕ 50% (иначе искажение на прямоугольнике), оставь как у контейнера!
}
