@use "../../../styles/helpers/" as *;

.expenses-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(24) rem(16);
  border: var(--border);
  border-radius: var(--categorie-border-radius);
  background: var(--color-statistics-background);
  box-shadow: var(--box-shadow);
  margin: rem(20) auto;
  min-width: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: rem(24);

    @include mobile {
      margin-bottom: rem(14);
    }
  }

  &__title {
    color: var(--color-text-overlay);
    font-size: rem(42);
    margin-bottom: rem(18);
    text-align: center;
  }

  &__years {
    display: flex;
    gap: rem(12);
    margin-left: rem(16);

    @include mobile {
      gap: rem(8);
      margin-left: 0;
    }
  }

  &__year-btn {
    border: var(--border);
    border-radius: var(--categorie-border-radius);
    padding: rem(12) rem(18);
    min-width: rem(70);
    background: rgba(30, 30, 30, 0.18);
    color: var(--color-light);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    opacity: 0.38;
    transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

    &--active {
      background: var(--color-dark-10);
      opacity: 1;

      &:hover {
        background: var(--color-accent);
        color: var(--color-dark-10);
        box-shadow: var(--box-shadow);
      }
    }

    &--inactive {
      opacity: 0.25;
      cursor: not-allowed;
      background: rgba(30, 30, 30, 0.08);
    }

    &--selected {
      background: var(--color-accent);
      color: var(--color-dark-10);
      opacity: 1;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(14);
    width: 100%;

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(10);
    }
  }

  &__btn {
    border: none;
    border-radius: var(--categorie-border-radius);
    font-weight: 700;
    padding: rem(18) rem(8);
    min-width: rem(78);
    background: rgba(30, 30, 30, 0.18);
    color: var(--color-light);
    cursor: pointer;
    border: var(--border);
    box-shadow: var(--box-shadow);
    opacity: 0.38;
    transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

    &--active {
      background: var(--color-dark-10);
      opacity: 1;

      &:hover {
        background: var(--color-accent);
        color: var(--color-dark-10);
        box-shadow: var(--box-shadow);
      }
    }

    &--inactive {
      opacity: 0.28;
      cursor: not-allowed;
    }

    &--selected {
      background: var(--color-accent);
      color: #222;
      border: var(--border);
      opacity: 1;
    }
  }
}
