@use "../../../styles/helpers/" as *;

.crypto-list-tracked {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  border: none;

  gap: rem(18);
  width: 100%;
  padding: rem(12) 0;
  margin: rem(18) 0;
  z-index: 1;

  @include mobile {
    grid-template-columns: 1fr;
    gap: rem(10);
  }
}
