@use "../../../styles/helpers/" as *;

.crypto-list-tracked {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2 колонки как и в селекторе
  gap: rem(18);
  width: 100%;
  padding: rem(12) 0;
  border-radius: var(--categorie-border-radius);
  box-shadow: var(--box-shadow);
  margin: rem(18) 0;
  z-index: 1;

  @include mobile {
    grid-template-columns: 1fr;
    gap: rem(10);
  }
}
