// src/components/ThemeSelector/ThemeSelector.module.scss
@use "../../styles/helpers/" as *;

.selector {
  display: flex;
  gap: rem(10);
  margin-bottom: rem(20);
  justify-content: center;
}

.button {
  padding: rem(8) rem(14);
  font-size: rem(14);
  background-color: var(--color-dark);
  color: white;
  border: rem(2) solid var(--color-light);
  cursor: pointer;
  text-transform: uppercase;

  &.active {
    background-color: var(--color-accent);
    color: black;
  }

  &:hover {
    background-color: red;
  }
}
