.item {
  padding: rem(12) rem(16);
  border-radius: rem(8);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-statistics-background);
  backdrop-filter: blur(6px);
  color: var(--color-text, #fff);
  font-size: 22px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-statistics-background-hover);
    scale: 1.01;
  }

  &__date {
    flex: 1;

    font-weight: 700;
    color: var(--statistics-font-color);
  }

  &__category {
    flex: 1;
    text-align: center;

    font-weight: 600;
    text-transform: capitalize;
    color: var(--statistics-font-color);
  }

  &__amount {
    flex: 0;
    padding-inline: rem(20);

    font-size: rem(28);
    color: var(--statistics-amount-font--color);
  }

  &__deleteBtn {
    padding: rem(10) rem(30);
    border-radius: var(--statistics-btn-border-radius);
    background-color: var(--color-red);
  }
}
