.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: rem(8);

  max-height: calc(20 * rem(60));
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--color-statistics-background-hover) transparent;

  &::-webkit-scrollbar {
    width: rem(8);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-statistics-background-hover);
    border-radius: rem(8);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
